/******** Styles for AG-Grid ***************/
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/********************************************/

.detail-form {
    width: 100%;
    padding: 30px;;
}

ngb-alert {
    position: absolute;
    width: 75%;
    top: 5px;
    margin: auto;
}